<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kasembhundit.kutthareeya.thiti.manageres">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/food"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AuthenActivity" />
        <activity android:name=".NewsDetailActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".MerchantActivity" />
        <activity android:name=".HubActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".CheckOrderActivity" />
        <activity android:name=".ReceiveActivity" />
        <activity android:name=".orderMerChantActivity" />
        <activity android:name=".addFoodActivity" />
        <activity android:name=".editPromotionActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".EditFoodActivity" />
        <activity android:name=".DeleteFoodtActivity" />
        <activity android:name=".AddPromotionActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".StatusActivity" />
        <activity android:name=".OderSlipActivity" />
        <activity android:name=".ShowNotification"/>
        <receiver android:name=".MyReceiver" android:process=":remote"/>
    </application>

</manifest>